<div [ngSwitch]="iconName">
 <div *ngSwitchCase="'arrow'">
  <assets-svg-arrow [fillColor]="fillColor" [strokeColor]="strokeColor"></assets-svg-arrow>
 </div>
 <div *ngSwitchCase="'search'">
  <assets-svg-search [fillColor]="fillColor" [strokeColor]="strokeColor"></assets-svg-search>
 </div>
 <div *ngSwitchCase="'filter'">
  <assets-svg-filter [fillColor]="fillColor" [strokeColor]="strokeColor"></assets-svg-filter>
 </div>
 <div *ngSwitchCase="'add'">
  <assets-svg-add [fillColor]="fillColor" [strokeColor]="strokeColor"></assets-svg-add>
 </div>
 <div *ngSwitchCase="'contracts'">
  <assets-svg-contracts [fillColor]="fillColor" [strokeColor]="strokeColor"></assets-svg-contracts>
 </div>
 <div *ngSwitchCase="'document'">
  <assets-svg-document-icon [fillColor]="fillColor" [strokeColor]="strokeColor"></assets-svg-document-icon>
 </div>
 <div *ngSwitchCase="'payout'">
  <assets-svg-payout-icon [fillColor]="fillColor" [strokeColor]="strokeColor"></assets-svg-payout-icon>
 </div>
 <div *ngSwitchCase="'time'">
  <assets-svg-time-icon [fillColor]="fillColor" [strokeColor]="strokeColor"></assets-svg-time-icon>
 </div>
 <div *ngSwitchCase="'edit'">
  <assets-svg-edit-icon [fillColor]="fillColor" [strokeColor]="strokeColor"></assets-svg-edit-icon>
 </div>
 <div *ngSwitchCase="'sign'">
  <assets-svg-sign-icon [fillColor]="fillColor" [strokeColor]="strokeColor"></assets-svg-sign-icon>
 </div>
 <div *ngSwitchCase="'delete'">
  <assets-svg-delete-icon [fillColor]="fillColor" [strokeColor]="strokeColor"></assets-svg-delete-icon>
 </div>
 <div *ngSwitchDefault>
 </div>
</div>