<div class="grid grid-cols-12 py-9	pl-10 pr-12 h-108px content-center drop-shadow-custom-3 bg-white relative z-10">
 <div class="grid grid-cols-12 col-span-10 content-center custom-border">
  <app-logo class="col-span-2"></app-logo>
  <span class="col-span-2"></span>
  <header-item class="col-span-2 self-center text-gray-898989" *ngFor="let item of data; index as i;" [item]="item">
  </header-item>
 </div>
 <div class="grid grid-cols-12 col-span-2">
  <header-profile class="col-span-12"></header-profile>
 </div>
</div>