<div class="max-w-md mx-auto">
 <div class="relative">
  <div class="h-10 grid grid-cols-12 border border-gray-200 rounded items-center">
   <input [value]="text" name="select" id="select" class="col-start-2 col-span-10 appearance-none outline-none text-gray-800 w-full text-xs"
    checked />
   <label for="show_more"
    class="col-span-1 cursor-pointer outline-none focus:outline-none transition-all text-gray-300 hover:text-gray-600">
    <app-svg-loader iconName="arrow" fillColor="#898989" strokeColor=""></app-svg-loader>
   </label>
  </div>

  <input type="checkbox" name="show_more" id="show_more" class="hidden peer"/>
  <div
   class="absolute rounded shadow bg-white overflow-hidden hidden peer-checked:flex flex-col w-full mt-1 border border-gray-200 text-xs">
   <div class="cursor-pointer group">
    <a class="block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100">Python</a>
   </div>
   <div class="cursor-pointer group border-t">
    <a
     class="block p-2 border-transparent border-l-4 group-hover:border-blue-600 border-blue-600 group-hover:bg-gray-100">Javascript</a>
   </div>
   <div class="cursor-pointer group border-t">
    <a class="block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100">Node</a>
   </div>
   <div class="cursor-pointer group border-t">
    <a class="block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100">PHP</a>
   </div>
  </div>
 </div>
</div>