<div class="h-10 grid grid-cols-12 border border-gray-200 rounded items-center pr-3 drop-shadow-custom-2 bg-white">
 <input [value]="text" name="select" id="select"
  class="col-start-2 col-span-8 appearance-none outline-none text-gray-898989 w-full text-xs" checked />
 <label for="show_more"
  class="col-span-1 col-start-12 cursor-pointer outline-none focus:outline-none transition-all text-gray-300 hover:text-gray-600">
  <app-svg-loader iconName="arrow" fillColor="#898989" strokeColor=""></app-svg-loader>
 </label>
</div>