<div class="grid grid-rows-2 grid-flow-col gap-7">
 <div class="grid grid-cols-12 gap-4">
  <contracts-search-bar class="col-span-9"></contracts-search-bar>
  <app-generic-button class="col-span-1" btnClasses="bg-gray-EBEBEB rounded-5px px-5" textColorClass="" text="Filter"
   leftIconName="filter" rightIconName="">
  </app-generic-button>
  <app-generic-button class="col-span-2" btnClasses="bg-red-FF5A70 rounded-5px drop-shadow-custom-1 px-10 w-full"
   textColorClass="text-white" text="New hire" leftIconName="add" leftIconFillColor="white" leftIconStrokeColor="white"
   rightIconName="">
  </app-generic-button>
 </div>
 <div class="grid grid-cols-12 gap-7">
  <app-generic-dropdown class="col-span-4" text="Create on:   Jan/10/21  -   Jan/28/21"></app-generic-dropdown>
  <app-generic-dropdown class="col-span-2" text="Contract type"></app-generic-dropdown>
  <app-generic-dropdown class="col-span-4" text="Contractor Name"></app-generic-dropdown>
  <app-generic-dropdown class="col-span-2" text="Status"></app-generic-dropdown>
 </div>
</div>