<div class="grid grid-cols-12 gap-2">
 <contracts-search-bar class="col-span-8"></contracts-search-bar>
 <app-generic-button class="col-span-2" btnClasses="bg-gray-EBEBEB rounded-5px px-5" textColorClass="" text="Filter"
  leftIconName="filter" rightIconName="">
 </app-generic-button>
 <app-generic-button class="col-span-2" btnClasses="bg-red-FF5A70 rounded-5px drop-shadow-custom-1 px-10" textColorClass="text-white" text="New hire"
  leftIconName="add" leftIconFillColor="white" leftIconStrokeColor="white" rightIconName="">
 </app-generic-button>
</div>