<div class="grid md:grid-rows-2 md:grid-flow-col gap-7 grid-flow-row">
 <div class="grid grid-cols-12 gap-8 md:gap-4 auto-rows-min">
  <contracts-search-bar class="col-span-12 md:col-span-8 "></contracts-search-bar>
  <app-generic-button class="col-span-4 md:col-span-2 h-14" btnClasses="bg-gray-EBEBEB rounded-5px px-5 justify-center"
   textColorClass="" text="Filter" leftIconName="filter" rightIconName="">
  </app-generic-button>
  <app-generic-button class="col-span-8 md:col-span-2 h-14"
   btnClasses="bg-red-FF5A70 rounded-5px drop-shadow-custom-1 justify-center" textColorClass="text-white"
   text="New hire" leftIconName="add" leftIconFillColor="white" leftIconStrokeColor="white" rightIconName="">
  </app-generic-button>
 </div>
 <div class="grid grid-cols-12 gap-5 md:gap-7 ">
  <app-generic-dropdown class="col-span-8 col-start-3 md:col-start-auto md:col-span-4"
   text="Create on:   Jan/10/21  -   Jan/28/21"></app-generic-dropdown>
  <app-generic-dropdown class="col-span-8 col-start-3 md:col-start-auto md:col-span-2" text="Contract type">
  </app-generic-dropdown>
  <app-generic-dropdown class="col-span-8 col-start-3 md:col-start-auto md:col-span-4" text="Contractor Name">
  </app-generic-dropdown>
  <app-generic-dropdown class="col-span-8 col-start-3 md:col-start-auto md:col-span-2" text="Status">
  </app-generic-dropdown>
  <div class="col-span-5 col-start-7 md:hidden grid grid-flow-col auto-cols-max place-content-center">
   <app-svg-loader class="self-center" iconName="delete" fillColor="#FF5A70"></app-svg-loader>
   <p class="text-coral-FF5A70 pl-1">Clear Filters</p>
  </div>
 </div>
</div>