<div class="grid grid-cols-12">
 <contracts-title class="col-span-12 grid grid-cols-12 place-items-center text-4xl font-bold mb-10"
  client="Michael Scott"></contracts-title>
 <contracts-controls class="col-span-12"></contracts-controls>
 <contracts-table [tableData]="tableData" *ngIf="innerWidth >= 768" class="mt-16 md:mt-0 col-span-12 bg-white dark:bg-gray-900">
 </contracts-table>
 <contracts-mobile-table [tableData]="tableData" *ngIf="innerWidth < 768" class="mt-6 md:mt-0 col-span-12 bg-gray-F9F9F9 yooo p-4 grid grid-flow-row gap-y-5 dark:bg-gray-900">
 </contracts-mobile-table>

</div>