/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.grid-cols-max-3 {
  grid-template-columns: max-content max-content max-content;
}

.text-3-5xl {
  font-size: 2rem;
  line-height: 2.37rem;
}

.rounded-5px {
  border-radius: 5px;
}

.border-05px {
  border-width: 0.5px;
}

.bg-gray-EBEBEB {
  background-color: #ebebeb;
}

.bg-red-FF5A70 {
  background-color: #ff5a70;
}

.drop-shadow-custom-1{
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

@font-face {
  font-family: aileron;
  src: url(assets/fonts/Aileron-Light.otf);
}
* {
  font-family: aileron, Arial, Helvetica, sans-serif;
}
