<tr class="grid grid-cols-12 hover:bg-blue-200 bg-gray-F9F9F9 place-items-center h-90px text-brown-3B3B3B"
 *ngFor="let item of rows; index as i;">
 <td class="py-3 whitespace-nowrap grid grid-cols-12 col-span-2">
  <div class="col-span-3 col-start-2">
   <img [src]="item.profilePic" alt="">
  </div>
  <div class="col-span-8 col-start-5 pl-1 self-center truncate">
   <span>{{item.contractorName}}</span>
  </div>
 </td>
 <td class="col-span-2 py-3">
  <div class="col-span-6">
   <span>{{item.type}}</span>
  </div>
 </td>
 <td class="col-span-2 py-3">
  <div class="">
   <span>{{item.startDate}}</span>
  </div>
 </td>
 <td class="col-span-2 py-3">
  <div class="">
   <span>{{item.amount}}</span>
  </div>
 </td>
 <td class="col-span-2 py-3 justify-self-stretch">
  <div class="grid grid-cols-12">
   <app-generic-label class="col-start-4 col-span-9 grid grid-cols-2" [text]="item.status"></app-generic-label>
  </div>
 </td>
 <td class="col-span-2 py-3">
  <div class="">
   <app-svg-loader iconName="three-dots" fillColor="#C4C4C4" (click)="toggleVisibleMenu(i)"></app-svg-loader>
   <app-generic-actions-list [actions]="item.actions" [isVisible]="menuIsVisible[i]">
   </app-generic-actions-list>
  </div>
 </td>
</tr>