<tr class="grid grid-cols-12 border-b border-gray-200 hover:bg-blue-200 bg-gray-F9F9F9 place-items-center h-90px"
 *ngFor="let item of rows; index as i;">
 <td class="py-3 whitespace-nowrap grid grid-cols-12 col-span-2">
  <div class="col-span-3">
   <img [src]="item.profilePic" alt="">
  </div>
  <div class="col-span-6">
   <span>{{item.contractorName}}</span>
  </div>
 </td>
 <td class="col-span-2 py-3">
  <div class="col-span-6">
   <span>{{item.type}}</span>
  </div>
 </td>
 <td class="col-span-2 py-3">
  <div class="">
   <span>{{item.startDate}}</span>
  </div>
 </td>
 <td class="col-span-2 py-3">
  <div class="">
   <span>{{item.amount}}</span>
  </div>
 </td>
 <td class="col-span-2 py-3">
  <div class="">
   <span>{{item.status}}</span>
  </div>
 </td>
 <td class="col-span-2 py-3">
  <div class="">
   <span>"Actions"</span>
  </div>
 </td>
</tr>