<div class="overflow-x-auto drop-shadow-custom-2 pr-5 pl-3">
 <div class="font-sans overflow-hidden">
  <div class="">
   <div class="bg-white rounded my-6 dark:bg-gray-900">
    <table class="grid grid-cols-12">
     <contracts-table-head class="grid grid-cols-12 col-span-12" [headers]="tableData.headers"></contracts-table-head>
     <tbody class="text-gray-600 text-sm font-light col-span-12">
      <contracts-table-row class="grid grid-rows-auto gap-7" [rows]="tableData.rows"></contracts-table-row>
     </tbody>
    </table>
   </div>
  </div>
 </div>
</div>